name: Nocodb
description: Nocodb Home Assistant Addon
version: 1.0.8
slug: hassio_nocodb
init: false
arch:
  - aarch64
  - amd64
startup: services
ports:
  8080/tcp: 8023
ports_description:
  8080/tcp: Web UI port  
webui:
  http://[HOST]:[PORT:8080]
options:
  beer: true
  NC_DB: pg://db_host:5432?u=user&p=password&d=noco_db
  NC_AUTH_JWT_SECRET: put-your-random-uuid-here
schema:
  beer: bool
  NC_DB: str
  NC_AUTH_JWT_SECRET: str